*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkseagreen;
    display: flex;
}
content{
background-color: rosybrown;
height: 600px;
width: 800px;
text-align: center;
justify-content: center;
margin-left: 160px;
margin-top: 25px;
border-radius: 20px;
}
.heading{
    text-align: center;
}
img{
    margin-top: 60px;
    align-items: center;
}
ul li{
    font-size: larger;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: auto;
    list-style: none;
}
#about{
    text-align: center;
    margin-top: 30px;
}
.container{
    font-size: x-large;
    text-align: justify;
    background-image: url("ht-pic.png");
    background-size: cover;
    width: 70%;
    height: 650px;
    margin-left: 50px;
}
.container h1{
    margin-left: 50px;
}
#contact h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.con p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    margin-top: 0;
}
#project h1{
    font-size: 50px;
}
.bt{
    margin-top: 50px;
    display: block;
    margin-left: 300px;
    background-color: inherit;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border: none;
}
.bt a {
    text-decoration: none;
    color: black;
    background-color: rgb(226, 120, 120);
}
#skill ul{
    text-align: center;
     margin-top: 80px;
     padding: 10px;
     background-color: rgb(82, 126, 126);
     border-radius:50%;
}
#skill h1{
    margin-top: 40px;
}